@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="text-center" style="max-width:350px;margin:0 auto;">
        <h2>Reports</h2>
        <p>Please choose a report:</p>

        <div class="list-group">
            <a href="/Reports/NegativeQuantity"
               class="list-group-item"
               data-toggle="tooltip" 
               title="Displays a report of all item locations with negative quantities.">Negative Quantity</a>
            <a href="/Reports/ZeroQuantity"
               class="list-group-item"
               data-toggle="tooltip"
               title="Displays a report of all items with total on hand quantity of zero.">Zero Quantity</a>
            <a href="/Reports/Reorder"
               class="list-group-item"
               data-toggle="tooltip"
               title="Displays a report of all items with price zero or blank.">Missing Price</a>
            <a href="/Reports/Reorder" 
               class="list-group-item"
               data-toggle="tooltip"
               title="Displays a report of all items with total quantities less than the item reorder point.">Reorder</a>
        </div>
    </div>
</div>


