@model IEnumerable<SIS.Domain.Transaction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dx-viewport">
    <div class="alert alert-info">
        <strong>Instructions</strong>
        <ol>
            <li>Use the search icon <span class="glyphicon glyphicon-search"></span> in each column for advanced search options.</li>
            <li>Click the export icon on the right to export to </li>
        </ol>
    </div>
    <div class="demo-container">
        <div id="gridContainer">

        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        // Function for loading data in the table
        $(function () {
            //$('#selected-items').hide();
            //var test = $("#gridContainer").find(".dx-command-select");
            //console.log(test);
            var items = new DevExpress.data.CustomStore({
                load: function (loadOptions) {
                    console.log(loadOptions);
                    var deferred = $.Deferred(),
                        args = {};

                    if (loadOptions.sort) {
                        args.orderby = loadOptions.sort[0].selector;
                        if (loadOptions.sort[0].desc)
                            args.orderby += " desc";
                    }

                    args.skip = loadOptions.skip || 0;
                    args.take = loadOptions.take || 12;

                    // Ajax call to the controller to get the data
                    $.ajax({
                        url: "/Transactions/IndexData",
                        type: "GET",
                        //data: args,
                        success: function (result) {
                            console.log(result);
                            deferred.resolve(result, { totalCount: result.length });
                        },
                        error: function (resp) {
                            console.log(resp);
                            deferred.reject("Data Loading Error");
                        },
                        timeout: 5000
                    });

                    return deferred.promise();
                }
            });

            // Main data grid
            $("#gridContainer").dxDataGrid({
                allowColumnResizing: true,
                columnResizingMode: 'nextColumn',
                columnAutoWidth: true,
                selection: {
                    mode: "multiple",
                    allowSelectAll: false,
                    showCheckBoxesMode: "always",
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                dataSource: {
                    store: items
                },
                "export": {
                    enabled: true,
                    fileName: "transactions",
                    allowExportSelectedData: true,
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 50, 100],
                    showNavigationButtons: true,
                    showInfo: true,
                    visible: true
                },
                columns: [
                    {
                        caption: "Date",
                        dataField: "Date",
                        calculateCellValue: function (rowData) {
                            var date = new Date(parseInt(rowData.Date.substr(6)));
                            return date;
                        },
                        dataType: 'datetime'
                    },
                    { caption: "Dept", dataField: "DepartmentId" },
                    { caption: "Item Number", dataField: "ItemId" },
                    { caption: "Item Name", dataField: "ItemName" },
                    { caption: "Item Price", dataField: "ItemPrice" },
                    { caption: "Location", dataField: "LocationId" },
                    { caption: "Qty. Change", dataField: "QuantityChange" },
                    { caption: "Value", dataField: "TransactionValue" },
                ],
                //onSelectionChanged: function (selectedItems) {
                //    var selectedData = selectedItems.selectedRowsData;
                //    var selectedItemsJoin = "";
                //    for (var i = 0; i < selectedData.length; i++) {
                //        selectedItemsJoin += selectedData[i].Id
                //        if (i < (selectedData.length - 1)) {
                //            selectedItemsJoin += ","
                //        }
                //    }
                //    console.log(selectedItemsJoin);
                //    var urlBase = "/Transactions/Receive/"
                //    $('#selected-items').attr("href", urlBase + selectedItemsJoin);
                //    if (selectedData.length > 0) {
                //        $('#selected-items').removeClass('btn-default');
                //        $('#selected-items').addClass('btn-success');
                //        $('#selected-items').removeAttr('disabled');
                //        $('#selected-items').css('color', 'white');
                //    }
                //    else {
                //        $('#selected-items').removeClass('btn-success');
                //        $('#selected-items').addClass('btn-default');
                //        $('#selected-items').attr('disabled', 'disabled');
                //        $('#selected-items').css('color', 'gray');
                //    }
                //}
            }).dxDataGrid("instance");


        });
    </script>


}