@model IEnumerable<SIS.Domain.Department>

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div style="max-width:675px; margin:0 auto;">
        <h3>Departments</h3>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="/Inventory/Maintenance" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back To List</a>
            </div>
            <div class="pull-right">
                <a href="/Departments/Create" class="btn btn-success" style="margin-right:15px;"><span class="glyphicon glyphicon-new-window"></span> Create Dept.</a>
            </div>
        </div>
        <br />
        <div class="dx-viewport">
            <div class="demo-container">
                <div id="gridContainer"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        // Function for loading data in the table
        $(function () {
            var items = new DevExpress.data.CustomStore({
                load: function (loadOptions) {
                    console.log(loadOptions);
                    var deferred = $.Deferred(),
                        args = {};

                    if (loadOptions.sort) {
                        args.orderby = loadOptions.sort[0].selector;
                        if (loadOptions.sort[0].desc)
                            args.orderby += " desc";
                    }

                    args.skip = loadOptions.skip || 0;
                    args.take = loadOptions.take || 12;

                    // Ajax call to the controller to get the data
                    $.ajax({
                        url: "/Departments/IndexData",
                        type: "GET",
                        data: args,
                        success: function (result) {
                            console.log(result);
                            deferred.resolve(result, { totalCount: result.length });
                        },
                        error: function (resp) {
                            console.log(resp);
                            deferred.reject("Data Loading Error");
                        },
                        timeout: 5000
                    });

                    return deferred.promise();
                }
            });

            // Main data grid
            $("#gridContainer").dxDataGrid({
                allowColumnResizing: true,
                columnResizingMode: 'nextColumn',
                columnAutoWidth: true,
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                dataSource: {
                    store: items
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 20, 50, 100],
                    showNavigationButtons: true,
                    showInfo: true,
                    visible: true
                },
                columns: [
                    { caption: "Dept", width: 100, dataField: "Id" },
                    { caption: "Description", width: 450, dataField: "Description" },
                    {
                        caption: "", width: 75, cellTemplate: function (element, info) {
                            console.log(element);
                            console.log(info);
                            element.append(`<a href="/Departments/Edit/${info.key.Id}">Edit</div>`)
                        }
                    }
                ],
            }).dxDataGrid("instance");
        });
    </script>


}