@{
    ViewBag.Title = "Exit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="text-center" style="max-width:350px;margin:0 auto;">
        <h3>Exit</h3>
        <p>To exit the application, you can close the browser window and/or tab.</p>
    </div>
</div>
