@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
    <h1>SIS</h1>
    <h3>Supply Inventory System</h3>
</div>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <h4>Handout</h4>
            @Html.ActionLink("Hand Out","HandoutIndex", "Items")
        </div>

        <div class="col-md-3 col-sm-3">
            <h4>Receive</h4>
            @Html.ActionLink("Receive", "ReceiveIndex", "Items")
        </div>

        <div class="col-md-3 col-sm-3">
            <h4>Maintenance</h4>
            @Html.ActionLink("Maintenance", "Maintenance", "Inventory")
        </div>

        <div class="col-md-3 col-sm-3">
            <h4>Maintenance</h4>
            @Html.ActionLink("Transactions", "Index", "Transactions")
        </div>
    </div>
</div>




