@{
    ViewBag.Title = "Home Page";
}

<div class="landing-container">
    <div class="container-fluid text-center">
        <div class="panel panel-default" style="max-width:500px;margin:auto;opacity:1.0 !important;">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="/Items/HandoutIndex"><span class="glyphicon glyphicon-arrow-up logo-small"></span></a>
                    <a href="/Items/HandoutIndex"><h3>Hand Out</h3></a>
                    @*@Html.ActionLink("Hand Out", "HandoutIndex", "Items", new { @class = "landing-link" })*@
                </div>

                <div class="col-md-4 col-sm-4">
                    <a href="/Items/ReceiveIndex"><span class="glyphicon glyphicon-arrow-down logo-small"></span></a>
                    <a href="/Items/ReceiveIndex"><h3>Receive</h3></a>
                    @*@Html.ActionLink("Receive", "ReceiveIndex", "Items", new { @class = "landing-link" })*@
                </div>

                <div class="col-md-4 col-sm-4">
                    <a href="/Inventory/Maintenance"><span class="glyphicon glyphicon-wrench logo-small"></span></a>
                    <br />
                    <a href="/Inventory/Maintenance"><h3>Maintenance</h3></a>
                    @*@Html.ActionLink("Maintenance", "Maintenance", "Inventory", new { @class = "landing-link" })*@
                </div>

            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <a href="/Transactions/Index"><span class="glyphicon glyphicon-retweet logo-small"></span></a>
                    <a href="/Transactions/Index"><h3>Transactions</h3></a>
                    @*@Html.ActionLink("Transactions", "Index", "Transactions", new { @class="landing-link"})*@
                </div>
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                    <a href="/Reports/Index"><span class="glyphicon glyphicon-list logo-small"></span></a>
                    <a href="/Reports/Index"><h3>Reports</h3></a>
                    @*@Html.ActionLink("Reports", "Index", "Reports", new { @class = "landing-link" })*@
                </div>
            </div>
        </div>
    </div>
</div>




