body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.dx-checkbox-icon {
    border-bottom-color: #8c8c8c !important;
    border-top-color: #8c8c8c !important;
    border-left-color: #8c8c8c !important;
    border-right-color: #8c8c8c !important;
}
.table-sis{
    margin-bottom: 1px !important;
}
.panel-sis{
    border-color: #bfbfbf !important;
}
.panel-heading-sis{
    background-color: #e6e6e6 !important;
}

.logo-small {
    font-size: 50px;
    color: #2f2e2e;
    margin-bottom: 5px;
}
.landing-link{
    font-size: 20px;
    margin-top: 3px;
    
}
.landing-container {
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../Content/images/landing-background-wide.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-width:1000px;
    /*opacity: 0.6;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}
