@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="text-center" style="max-width:350px;margin:0 auto;">
        <h2>Inventory Maintenance</h2>
        <p>Choose an inventory category:</p>
        <div class="list-group">
            <a href="~/Items" class="list-group-item">Items</a>
            <a href="~/Locations" class="list-group-item">Locations</a>
            <a href="~/Suppliers" class="list-group-item">Suppliers</a>
            <a href="~/Departments" class="list-group-item">Departments</a>
            <a href="~/Units" class="list-group-item">Units</a>
        </div>
    </div>
</div>

